h1 {
    text-align: center;
}

/*==============style slider=======*/
.slider-wrapper {
    z-index: 2;
    overflow: hidden;
    height: 450px;
    transition: background 1s;     /*effect changing background */
    background-repeat: no-repeat;
    background-image: url("../img/slider/1.jpg");
    position: relative;
    background-size: cover;
    margin-bottom: 45px;
}

.slider--hr {
    border: 0;
    width: 1500px;
    margin: 0;
    background: #795C70;
    height: 3px;
    position: absolute;
    left: 37.5%;
    bottom: 0;
}

.slider-content {
    width: 30%;
    position: relative;
    margin-top: 6%;
    z-index: 1;
    right: 0;
}

.slider-content .link-more {
    width: 75%;
}

.slider-data {
    display: none;
}

.logo-slider {
    display: block;
    position: absolute;
    right: 0;
    top: 55%;
}

.slider-content > div p:nth-child(1) {
    font-size: 35px;
    text-transform: uppercase;
    color: #795c70;
}

.slider-content > div p:nth-child(2) {
    font-size: 16px;
    color: #3c3b3b;
}

.slider-dots {
    position: absolute;
    top: 91%;
    right: 49%;
}

.slider-dots i {
    margin-right: 6px;
    cursor: pointer;
    color: #74863B;
}

.slider-dots .active {
    border-radius: 40%;
    color: #795C70;
}

/*==============style slider=======*/
/*============link-more==========*/
.link-more {
    transition: background, color 500ms;
    line-height: 44px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    color: #74863b;
    border: 3px solid #74863b;
    width: 90%;
    text-align: center;
    height: 50px;
}

.link-more:focus {
    outline: none;
}

.link-more:hover {
    text-decoration: none;
    border: 3px solid #74863b;
    background: #74863b;
    color: white;
}

.link-more:active {
    outline: none;
    border: 3px solid #795C70;
    background: #795C70;
    color: white;
}
/*============link-more==========*/
