/*SMACSS + BEM?*/
/*==================Base rules Ч базовые стили.
Ёто стили основных элементов сайта Ч body, input, button, ul, ol и т.п. ¬ этой секции используютс€ в основном селекторы
 тэгов и атрибутов, классы Ч в исключительных случа€х (например, если у вас стилизованные JavaScriptТом селекты);===============*/

/*==================Base rules============================*/

/*font-family: 'Open Sans', sans-serif;*/

/*===========Layout rules Ч стили макета. «десь наход€тс€ стили глобальных элементов размеры шапки, футера, сайдбара и т.п
»спользуйте классы и будет вам счастье. ================================================================================== */
header {
    height: 130px;
    /*line-height: 130px;*/
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*сброс button*/
button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    overflow: visible;
    background: none;
}

/*сброс  button*/

a:hover,
a:focus{
    text-decoration: none;
}

hr {
    border: 0;
}
/*============map==========*/
iframe.map {
    margin-top: -60px;
    margin-bottom: -25px;
    border-bottom: 3px solid #74863B;
}

.map + hr{
    height: 3px;
    background: #74863B;
    margin-bottom: 45px;
}

/*============map==========*/
/*============contacts==========*/

.contact-title {
    margin-top: 0;
    font-size: 35px;
    color: #74863B;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contacts-form form textarea {
    height: 110px;
}
/*============contacts==========*/
/*============search==========*/
.search--result {
    margin-bottom: 50px;
}

.search--result .title {
    margin-top: 0;
    text-align: left;
    color: #74863B;
    font-size: 40px;
    text-transform: uppercase;
}
/*============search==========*/
/*============link-more==========*/
.link-more {
    transition: background, color 500ms;
    line-height: 44px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    color: #74863b;
    border: 3px solid #74863b;
    width: 90%;
    text-align: center;
    height: 50px;
}

.link-more:focus {
    outline: none;
}

.link-more:hover {
    text-decoration: none;
    border: 3px solid #74863b;
    background: #74863b;
    color: white;
}

.link-more:active {
    outline: none;
    border: 3px solid #795C70;
    background: #795C70;
    color: white;
}

.container-wrap {
    overflow: hidden;
}

/*============link-more==========*/
/*==================Layout rules============================*/

/*===================================Modules rules Ч стили модулей, то есть блоков, которые могут использоватьс€ несколько
 раз на одной странице. ƒл€ классов модулей не рекомендуетс€ использовать id и селекторы тэгов
 (дл€ многократного использовани€ и независимости от контекста соответственно).==========================================*/
/*==================Modules rules============================*/

/*============hrs==========*/
header hr {
    margin-top: 15px;
    margin-bottom: 0;
    background-color: #A1A0A0; /*дл€ Firefox, Opera, Safari*/
    border: none;
    height: 1px;
    margin-right: 15px;
}

/*============hrs==========*/
/*============menu-top==========*/
.menu-top {
    float: right;
    position: relative;
}

#line-menu-top {
    position: absolute;
    height: 3px;
    content: '';
    background: #74863B;
    top: 14px;
}

.menu-top > ul {
    padding-top: 10px;
    padding-left: 0;
}

.menu-top > ul > li {
    float: left;    /*без этого не работает хак!**/
    display: block;
    list-style: none;
    position: relative;
    margin-right: 36px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.menu-top > ul > li:last-child {
    margin-right: 15px;
}

.menu-top > ul > li > a {
    color: #3C3B3B;
}

.menu-top > ul > li > a:hover {
    color: #74863B;
}

.menu-top > ul > li > a:focus {
    text-decoration: none;
}

.menu-top-inner {
    left: 0;
    display: none;
    opacity: 0;
    position: absolute;
    top: 300px;
    z-index: 10;
    text-align: left;
    padding-left: 0;
    border: 1px solid #74863b;
    -webkit-box-shadow: -1px 3px 16px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: -1px 3px 16px 2px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 3px 16px 2px rgba(0, 0, 0, 0.08);
}

li.sub-menu--parent:hover .menu-top-inner {
    display: block;
    opacity: 1;
    top: 31px;
}

ul.menu-top-inner li {
    transition: background 0.2s;
    background: white;
    width: 270px;
    font-size: 12px;
    display: inline-block;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

ul.menu-top-inner li a {
    color: #3c3b3b;
}

ul.menu-top-inner li:hover {
    background: #74863B;
}

ul.menu-top-inner li:hover a {
    color: #fff;
}

/*============menu-top==========*/
/*============logo==========*/
.logo {
    line-height: 130px;
}

/*============logo==========*/
/*============contacts==========*/
.contacts {
    padding-top: 10px;
    color: #8a8a8a;
}

.contacts span {
    font-size: 15px;
    padding-left: 6px;
    padding-right: 20px;
}

/*============contacts==========*/
/*============social==========*/
.social {
    padding-top: 10px;
    text-align: right;
    position: relative;
}

.social a {
    display: inline-block;
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    transition: all 0.5s;
}

.social a:hover {
    background-color: #795C70;
    color: #fff;
}

.social a.search {
    background-color: #795C70;
    width: 40px;
    color: white;
}

.social a.search:hover {
    color: #8a8a8a;
    background: #fff;
}

/*============social==========*/
/*============search-wrap==========*/
.search-wrap {
    position: absolute;
    top: -27px;
    width: 179px;
    right: 56px;
}

.search-wrap .fa-chevron-up {
    color: #795C70;
    cursor: pointer;
    position: relative;
    right: 166px;
    top: -24px;
}

#search {
    height: 25px;
    width: 162px;
}

.search input[name='search']:focus {
    outline: none;
}

/*============search-wrap==========*/
/*============parallax==========*/
.parallax {
    position: relative;
    padding-top: 90px;
    height: 230px;
    transition: background 1000ms ease-out;
    background: url("../img/main/parallax-bg.jpg")no-repeat 0 -237px;
}

.parallax + hr {
    height: 30px;
    background: #5C5C5C;
    margin-bottom: 60px;
    margin-top: 0;
}
.logo-parallax {
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0;
}

.back-wrap {
    width: 100%;
    position: absolute;
}

.back-wrapper--hard {
    z-index: 1;
    display: inline-block;
    height: 140px;
    width: 62%;
    background: url("../img/main/parallax--white_light.png") repeat-x;
}

.back-wrapper--light {
    display: inline-block;
    height: 140px;
    width: 38%;
    background: url("../img/main/parallax--white_hard.png") repeat-x;
}

.page-longtitle {
    text-transform: uppercase;
    font-size: 40px;
    color: #795c70;
    margin-top: 30px;
    margin-bottom: 0;
}

.page-desc {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 26%;
}
/*============parallax==========*/
/*============visit==========*/
.visit--title + img {
    display: block;
    width: 113px;
    color: #74863b;
    margin-left: 58px;
    margin-bottom: -12px;
}


.visit--title {
    margin-bottom: -14px;
    margin-top: 8px;
    font-size: 25px;
    color: #74863b;
    text-transform: uppercase;
}

.visit--text {
    font-size: 16px;
    width: 79%;
}

/*============visit==========*/
/*============shedule==========*/
.shedule {
    color: white;
    background: #74863b;
}

.shedule-content-wrapper hr {
    height: 1px;
    background: white;
}

.shedule img {
    float: right;
    padding-top: 3px;
}

.shedule p span:first-child {
    display: inline-block;
    float: left;
}

.shedule p span:last-child {
    display: inline-block;
    float: right;
}

.shedule-content-wrapper {
    position: relative;
    margin: 10px 25px 73px 38px;
}

.shedule--title {
    display: inline-block;
    margin-top: 0;
    font-size: 25px;
    text-transform: uppercase;
}

/*============shedule==========*/
/*============statements==========*/

.statem-wrapper {
    margin-left: 10%;
    color: #74863b;
    font-size: 18px;
}

.statements hr {
    margin-top: 36px;
    background-color: #795c70;
    height: 1px;
    width: 1000px;
}

/*============statements==========*/


/*==============style slider=======*/
.slider-wrapper {
    z-index: 2;
    overflow: hidden;
    height: 450px;
    transition: background 1s;
    background-repeat: no-repeat;
    background-image: url("../img/slider/1.jpg");
    position: relative;
    background-size: cover;
    margin-bottom: 45px;
}

.slider--hr {
    border: 0;
    width: 1500px;
    margin: 0;
    background: #795C70;
    height: 3px;
    position: absolute;
    left: 37.5%;
    bottom: 0;
}

.slider-content {
    width: 30%;
    position: relative;
    margin-top: 6%;
    z-index: 1;
    right: 0;
}

.slider-content .link-more {
    width: 75%;
}

.slider-data {
    display: none;
}

.logo-slider {
    display: block;
    position: absolute;
    right: 0;
    top: 55%;
}

.slider-content > div p:nth-child(1) {
    font-size: 35px;
    text-transform: uppercase;
    color: #795c70;
}

.slider-content > div p:nth-child(2) {
    font-size: 16px;
    color: #3c3b3b;
}

.slider-dots {
    position: absolute;
    top: 91%;
    right: 49%;
}

.slider-dots i {
    margin-right: 6px;
    cursor: pointer;
    color: #74863B;
}

.slider-dots .active {
    border-radius: 40%;
    color: #795C70;
}

/*==============style slider=======*/
/*===========service-links==============*/
.service-links {
    background: #f0eff0;
    border-top: 1px solid #795c70;
    margin-top: 85px;
    padding-top: 40px;
    padding-bottom: 65px;
}

.service-links figcaption {
    color: #74863b;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.service-links hr {
    height: 1px;
    background-color: #795c70;
}

.service-links p {
    min-height: 120px;
    color: #795c70;
    text-align: center;
}

.service-links .link-more {
    transition: all 500ms;
    line-height: 44px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    color: #74863b;
    border: 3px solid #74863b;
    width: 90%;
    text-align: center;
    height: 50px;
    margin-left: 5%;
}

.service-links .link-more:focus {
    outline: none;
}

.service-links .link-more:hover {
    text-decoration: none;
    border: 3px solid #74863b;
    background: #74863b;
    color: white;
}

.service-links .link-more:active {
    outline: none;
    border: 3px solid #795C70;
    background: #795C70;
    color: white;
}

.service-links img {
    border: 3px solid #dcd9d9;
}
/*===========service-links==============*/
/*===========about-omax==============*/
.about-omax--wrap {
    text-align: right;
    background: url("../img/main/omax-about--back.jpg")no-repeat;
    padding-bottom: 120px;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 55px;
}

.about-omax--wrap__opacity {
    background: url("../img/main/omax-about--back__black.png") repeat;
    -webkit-box-shadow: -6px 34px 20px -28px rgba(0,0,0,0.42);
    -moz-box-shadow: -6px 34px 20px -28px rgba(0,0,0,0.42);
    box-shadow: -6px 34px 20px -28px rgba(0,0,0,0.42);
}

.about--text {

    width: 70%;
    display: inline-block;
    padding-right: 60px;
}

.about--logo {
    background: #74863B;
    height: auto;
    display: inline-block;
    width: 30%;
    float: right;
}

.about--logo img {
    padding-right: 10%;
    margin-top: 80%;
}

.about-omax--wrap hr {
    width: 180%;
    position: relative;
    left: -80%;
    margin: 0;
}

.about--text__title {
    margin-top: 45px;
    margin-bottom: 5px;
    text-align: right;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
}

.about--text__desc {
    color: white;
    font-size: 16px;
    text-align: left;
}

.about--text__desc p:first-letter {
    padding-left: 10px;
}

.about--text__icons {
    text-align: left;
}

.about--text__icons .item {
    text-align: center;
    margin-top: 30px;
    width: 25%;
    float: left;
}

.item--i-wrapper {
    display: inline-block;
    width: 125px;
    height: 125px;
    line-height: 125px;
    border: 2px solid #74863B;
}

.about--text__icons .item img {
    vertical-align: middle; /* ..по вертикали */
    line-height: 1.25; /* переопределить высоту строки на обычную */
    width: 70px;
}

.about--text__icons .item p {
    text-transform: uppercase;
    font-size: 13px;
    color: #74863B;
    padding: 0 10px;
    font-weight: 700;
}

/*===========about-omax==============*/
/*===========content-about==============*/
.content-about {
    margin-bottom: 40px;
}

.content-about--title {
    text-align: center;
    color: white;
    background: #74863B;
    text-transform: uppercase;
    padding: 20px 0 16px 0;
    font-size: 25px;
}

.content-about--img {
    display: block;
    margin: auto;
}

.content-about--hr {
    margin-top: 30px;
    height: 1px;
    background: #7D6174;
}
/*===========content-about==============*/
/*===========sertificats==============*/
.sertificats {
    margin-bottom: 45px;
}

.sert-wrapper {
    background: #F0EFF0;
}

.sert-img {
    padding-top: 55px;
}

.sert-img img {
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.17);
}

.sert-list {
    margin-top: 43px;
}

.sert-list--title {
    margin-top: 0;
    font-size: 35px;
    color: #74863B;
    text-transform: uppercase;
}

.sert-list--hr {
    margin-bottom: 10px;
    height: 1px;
    background: #74863B;
}

.sert-list--hr + p {
    padding: 5px;
    transition: transform 300ms;
    cursor: pointer;
    text-align: right;
}

.sert-list p:first-child {
    transform: translate(0,0);
}

.sert-list p:hover {
    color: #74863B;
    transform: translate(-20px,0);
}

.sert-list p:first-child {
    transform: none;
}

.active-link {
    transform: translate(-20px,0);
    color: #74863B;
}
/*===========sertificats==============*/
/*===========prices-accordeon==============*/
.prices-accordeon {
    margin-bottom: 90px;
}

.prices-accordeon--item {
    overflow: hidden;
    margin-bottom: 10px;
}

.prices-accordeon--item__title {

    height: 65px;
    background: #A1A1A1;
    line-height: 65px;
    font-size: 25px;
    color: white;
    padding-left: 30px;
    text-transform: uppercase;
    position: relative;
}

.prices-accordeon--item__title.open-block {
    background: #74863B;
}


.prices-accordeon--item__title i {
    font-size: 29px;
    line-height: 65px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    margin-bottom: -11px;
}

.prices-accordeon--item__content ul li span:last-child {
    display: inline-block;
    border-bottom: 1px solid #A1A1A1;
    width: 40%;
    padding: 20px;
    font-weight: bold;
}

.prices-accordeon--item__content ul li span:first-child {
    display: inline-block;
    border-bottom: 1px solid #A1A1A1;
    border-right: 1px solid #A1A1A1;
    list-style: none;
    padding: 20px;
    width: 60%;
}

.prices-accordeon--item__content ul {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px;
    margin-left: -40px;
    width: calc(100% + 40px);
}

.prices-accordeon--item__content ul > li:nth-child(2n) {
    background: #F0F0F0;
}

.prices-accordeon--item__content > ul > li:last-child {
    border-bottom: 3px solid #795C70;
}

/*===========prices-accordeon==============*/
/*===========services======================*/
.services-content {
    margin-bottom: 70px;
}

.services-content--text__desc{
    font-size: 16px;
    color: #74863B;
    text-align: right;
    margin-bottom: 40px;
    padding-left: 20%;
}

.services-content hr,
.services-links hr{
    height: 1px;
    background: #74863B;
}

.services-content hr:first-child {
    height: 3px;
}
.services-content--content span{
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 40px;
    display: block;
    color: #74863B;
}

.services-links--wrapper {
    background: #F0EFF0;
}

.services-links {
    padding-bottom: 55px;
}

.services-links .title{
    text-align: left;
    color: #74863B;
    font-size: 40px;
    text-transform: uppercase;
}

.services-links--techno a {
    display: block;
    text-align: right;
    font-size: 16px;
    color: #3c3b3b;
    transition: transform 300ms;
}

.services-links--techno a:hover {
    color: #74863B;
    transform: translate(-20px,0);
}

.services-links--spec {
    text-align: center;
}

/*===========services=====================*/
/*===========our-spec==============*/
.our-spec {
    text-align: center;
    margin-bottom: 55px;
}

.our-spec .row > div {
    margin-bottom: 40px;
}
.our-spec--title {
    font-size: 35px;
    color: #74863B;
    margin: 0 auto 30px;
    text-transform: uppercase;
    width: 400px;
}

.our-spec--name {
    font-size: 16px;
    color: #74863B;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.our-spec--prof {
    margin: 0;
    font-size: 16px;
    font-style: italic;
}

/*===========our-spec==============*/
/*============modal==========*/
button.md-trigger {
    transition: all 500ms;
    text-transform: uppercase;
    font-size: 16px;
    color: #74863b;
    border: 3px solid #74863b;
    width: 75%;
    text-align: center;
    height: 50px;
}

#modal textarea {
    height: 100px;
}

button.md-trigger:hover {
    background: #74863b;
    color: white;
}

/*============modal==========*/
/*===========callback-form==============*/
.callback-form input {
    border: 0;
    outline: 1px solid #D4D4D4;
    display: block;
    height: 45px;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 11px;
    color: #795c70;
}

.callback-form input[name="name"] {
    width: 100%;
}

.callback-form input[name="email"] {
    width: 48%;
    margin-right: 4%;
    float: left;
}

.callback-form input[name="phone"] {
    width: 48%;
    float: right;
}

.callback-form input[name="date"] {
    width: 48%;
    margin-right: 4%;
    float: left;
}

.callback-form select {
    opacity: 0.8;
    color: #795c70;
    width: 48%;
    float: right;
    height: 45px;
    padding-left: 10px;
}

.callback-form textarea {
    outline: 1px solid #D4D4D4;
    border: 0;
    color: #795c70;
    padding: 10px;
    width: 100%;
    resize: none;
    height: 200px;
    margin-bottom: 55px;
}

.callback-form button[type="submit"] {
    width: 30%;
}

.callback-form input:focus,
.callback-form textarea:focus,
.callback-form select:focus{
    outline:1px solid #74863B;
}
/*===========callback-form==============*/
/*===========callback form modal==============*/
.callback-modal--title {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 35px;
    color: #74863B;
    text-transform: uppercase;
}
/*===========callback form modal==============*/
/*===========callback-no-modal==============*/
.callback-no-modal {
    margin-bottom: 100px;

}

.callback-no-modal--title {
    font-size: 35px;
    color: #74863B;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.callback-no-modal--form {

}

/*===========callback-no-modal==============*/
/*====================================vacancy==========================================*/
.vacancy {
    margin-bottom: 40px;
}

.vacancy--img {
    width: 26%;
    display: inline-block;
    position: relative;
}

.vacancy--img p {
    position: absolute;
    font-weight: bold;
    top: 10%;
    left: 12%;
}

.vacancy--content {
    position: relative;
    width: 64%;
    display: inline-block;
}

.vacancy--content__title {
    font-size: 16px;
    color: #74863B;
    text-transform: uppercase;
}

.vacancy--content .link-more {
    display: block;
    position: absolute;
    bottom: 4%;
    right: 0;
    width: 250px;
}

.vacancy hr {
    height: 1px;
    background: #795C70;
}
/*====================================vacancy============================ =============*/
/*===========footer==============*/
footer .hvr-underline-from-center:before {
    background: #74863B;
    height: 2px;
}

footer {
    background: #434343;
    border-top: 3px solid #74863B;
}

footer ul {
    padding-left: 0;
}

footer ul li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
}

footer ul li a {
    color: #A7A7A7;
}

footer ul li a:hover {
    text-decoration: none;
    color: #74863B;
}

.footer-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 19px;
}

footer .title-hidden {
    visibility: hidden;
}

footer .footer-serices:first-child ul {
    border-right: 1px solid #B4B4B4;
}

.footer-bottom--wrapper {
    border-top: 1px solid #74863B;
}

.footer-contacts i {
    margin-bottom: 20px;
}

.footer-menu {
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer-menu a {
    text-transform: uppercase;
    font-size: 19px;
    margin-right: 30px;
    color: #A7A7A7;
}

.footer-menu a:hover {
    color: #74863B;
    text-decoration: none;
}

.footer-rights {
    font-size: 12px;
    color: #8C8C8C;
    margin-bottom: 10px;
}

/*===========footer==============*/

/*==================Modules rules============================*/

/*State rules Ч стили состо€ни€. ¬ этом разделе прописываютс€ различные состо€ни€ модулей и скелета сайта.
 Ёто единственный раздел, в котором допустимо использование ключевого слова Ђ!importantї--------------------------*/

/*==================State rules============================*/

/*==================State rules============================*/